Repository Conventional-programmer/gamer-highlights-back-end: changes, and which GitLab CI jobs are due for each by the changed paths.
All: authentication_service_build, authentication_service_test, user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test

Path conditions:
  authentication_service_build: any of: code/service-authentication-jwt/*
  authentication_service_test: any of: codeservice-authentication-jwt/*
  user_service_build: any of: code/service-user/*
  user_service_test: any of: code/service-user/*
  comment_service_build: any of: code/service-comment/*
  comment_service_test: any of: code/service-comment/*
  image_service_build: any of: code/service-likes/*
  image_service_test: any of: code/service-likes/*
  like_service_build: any of: code/service-likes/*
  like_service_test: any of: code/service-likes/*
  post_service_build: any of: code/service-post/*
  post_service_test: any of: code/service-post/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

updated image server to have id
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/ServiceAuthenticationApplication.java
  code/service-comment/src/main/java/nl/fhict/s6/servicecomment/controller/CommentController.java
  code/service-image/pom.xml
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/datamodels/ImageDao.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageService.java
  code/service-post/src/main/java/nl/fhict/s6/servicepost/controller/PostController.java
  code/service-user/src/main/java/nl/fhict/s6/serviceuser/datamodels/UserDao.java
Due: none

added kubernetes deployment file
  deployment/micro-services.yml
Due: none

fixed intergration tests still running in post service
  code/service-post/pom.xml
  deployment/micro-services.yml
Due: post_service_build, post_service_test

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Added dockerfiles
  code/service-authentication-jwt/Dockerfile
  code/service-comment/Dockerfile
  code/service-image/Dockerfile
  code/service-likes/Dockerfile
  code/service-post/Dockerfile
  code/service-user/Dockerfile
Due: authentication_service_build, user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test

changing user service docker file to copy dependencies
  code/service-comment/pom.xml
  code/service-image/pom.xml
  code/service-likes/lib/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-likes/lib/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-likes/lib/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-likes/lib/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-likes/lib/nl/casvanderkamp/library-rest/maven-metadata-local.xml
  code/service-likes/lib/nl/fhict/s6/game-highlights/0.0.1-SNAPSHOT/game-highlights-0.0.1-SNAPSHOT.pom.lastUpdated
  code/service-likes/lib/nl/fhict/s6/game-highlights/0.0.1-SNAPSHOT/resolver-status.properties
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar.lastUpdated
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom.lastUpdated
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-likes/lib/nl/fhict/s6/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-likes/lib/nl/fhict/s6/library-rest/maven-metadata-local.xml
  code/service-likes/pom.xml
  code/service-post/pom.xml
  code/service-user/Dockerfile
Due: user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test

added libraries to dockerfile
  code/service-comment/Dockerfile
  code/service-image/Dockerfile
  code/service-likes/Dockerfile
  code/service-post/Dockerfile
  code/service-user/Dockerfile
  code/service-user/pom.xml
Due: user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test

added the library paths
  code/service-comment/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-comment/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-comment/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-comment/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-comment/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-comment/libraries/nl/casvanderkamp/library-rest/maven-metadata-local.xml
  code/service-image/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-image/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-image/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-image/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-image/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-image/libraries/nl/casvanderkamp/library-rest/maven-metadata-local.xml
  code/service-likes/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-likes/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-likes/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-likes/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-likes/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-likes/libraries/nl/casvanderkamp/library-rest/maven-metadata-local.xml
  code/service-post/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-post/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-post/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-post/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-post/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-post/libraries/nl/casvanderkamp/library-rest/maven-metadata-local.xml
  code/service-user/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/_remote.repositories
  code/service-user/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.jar
  code/service-user/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/library-rest-1.0-SNAPSHOT.pom
  code/service-user/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/maven-metadata-local.xml
  code/service-user/libraries/nl/casvanderkamp/library-rest/1.0-SNAPSHOT/resolver-status.properties
  code/service-user/libraries/nl/casvanderkamp/library-rest/maven-metadata-local.xml
Due: none

better mvn packaging configuration
  code/service-authentication-jwt/pom.xml
  code/service-comment/pom.xml
  code/service-image/pom.xml
  code/service-likes/pom.xml
  code/service-post/pom.xml
  code/service-user/pom.xml
  deployment/micro-services.yml
Due: authentication_service_build, user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test

updated wrong main class configuration
  code/service-image/pom.xml
  code/service-user/pom.xml
Due: user_service_build, user_service_test

changed deployment scripts
  deployment/local-micro-services.yml
Due: none

added security gateway
  code/gateway.zip
  code/gateway/.gitignore
  code/gateway/.mvn/wrapper/MavenWrapperDownloader.java
  code/gateway/.mvn/wrapper/maven-wrapper.jar
  code/gateway/.mvn/wrapper/maven-wrapper.properties
  code/gateway/Dockerfile
  code/gateway/mvnw
  code/gateway/mvnw.cmd
  code/gateway/pom.xml
  code/gateway/src/main/java/nl/fhict/s6/gateway/AuthenticationFilter.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/GatewayApplication.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/JwtUtil.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/RouterValidator.java
  code/gateway/src/main/resources/application-prod.yml
  code/gateway/src/main/resources/application.properties
  code/gateway/src/test/java/nl/fhict/s6/gateway/GatewayApplicationTests.java
  code/gateway/src/test/java/nl/fhict/s6/gateway/JwtUtil.java
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/security/jwt/JwtUtils.java
  code/service-authentication-jwt/src/main/resources/application-prod.properties
  code/service-authentication-jwt/src/main/resources/application.properties
  code/service-comment/src/main/resources/application.properties
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageService.java
  code/service-image/src/main/resources/application.properties
  code/service-likes/src/main/resources/application.properties
  code/service-post/src/main/resources/application-prod.properties
  code/service-post/src/main/resources/application.properties
  deployment/docker-compose.yml
  deployment/micro-services.yml
Due: none

added intergration tests
  code/service-post/pom.xml
  code/service-post/src/test/java/nl/fhict/s6/servicepost/ServicePostApplicationTests.java
  deployment/docker-compose.yml
Due: post_service_build, post_service_test

changing to monodb
  code/gateway.zip
  code/gateway/pom.xml
  code/gateway/src/main/java/nl/fhict/s6/gateway/AuthEntryPointJwt.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/AuthenticationFilter.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/JwtUtil.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/RemoteAuthorizationHeaderFilter.java
  code/gateway/src/main/java/nl/fhict/s6/gateway/WebSecurityConfig.java
  code/gateway/src/main/resources/application-prod.yml
  code/gateway/src/main/resources/application.properties
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/controller/AuthenticationController.java
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/dto/Authorization.java
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/dto/TokenDto.java
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/security/jwt/JwtUtils.java
  code/service-authentication-jwt/src/main/resources/application-prod.properties
  code/service-comment/src/main/resources/application-prod.properties
  code/service-image/pom.xml
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/ServiceImageApplication.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/config/generation/ImageGeneration.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/controller/ImageController.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/datamodels/ImageDao.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/datamodels/ImageJpaDao.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/datamodels/ImageMongoDao.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageJpaRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageMongoRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageJpaService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageMongoService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageService.java
  code/service-image/src/main/resources/application-dev.properties
  code/service-image/src/main/resources/application-prod.properties
  code/service-likes/src/main/resources/application-prod.properties
  code/service-post/src/main/java/nl/fhict/s6/servicepost/controller/PostController.java
  code/service-user/src/main/java/nl/fhict/s6/serviceuser/controller/UserController.java
  code/service-user/src/main/resources/application-prod.properties
  code/service-user/src/main/resources/application.properties
  deployment/docker-compose.yml
Due: none

added test for getting image
  code/service-image/pom.xml
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/config/generation/ImageGeneration.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/controller/ImageController.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageMongoRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageJpaService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageMongoService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageService.java
  code/service-image/src/main/resources/application.properties
  code/service-image/src/main/resources/static/profile/profilepic.jpg
  code/service-image/src/test/java/nl/fhict/s6/serviceimage/controller/ImageControllerTest.java
Due: none

changed post to have better defenition of tests
  code/service-image/pom.xml
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/ServiceImageApplication.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/config/WebConfig.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/controller/ImageController.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/converters/ImageConverter.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/converters/ImageJpaConverter.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/converters/ImageMongoConverter.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/datamodels/ImageMongoDao.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/dto/ImageDto.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageJpaRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/repository/ImageMongoRepository.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageJpaService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageMongoService.java
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/service/ImageService.java
  code/service-image/src/main/resources/application-prod.properties
  code/service-image/src/main/resources/application.properties
  code/service-image/src/main/resources/static/profile/profilepic.jpg
  code/service-image/src/test/java/nl/fhict/s6/serviceimage/controller/ImageControllerTest.java
  code/service-image/src/test/java/nl/fhict/s6/serviceimage/controller/ImageControllerTests.java
  code/service-post/pom.xml
  code/service-post/src/test/java/nl/fhict/s6/servicepost/ServicePostApplicationTests.java
  code/service-user/src/main/java/nl/fhict/s6/serviceuser/controller/UserController.java
Due: post_service_build, post_service_test

changed comment intergration test port to 9003. Added post ids to comment generation
  code/service-comment/src/main/java/nl/fhict/s6/servicecomment/config/generation/CommentDaoGeneration.java
  code/service-comment/src/main/java/nl/fhict/s6/servicecomment/datamodels/CommentDao.java
  code/service-post/src/test/java/nl/fhict/s6/servicepost/context/CommentHttpContextTest.java
  deployment/micro-services.yml
Due: none

Added expose to comment-service dockerfile
  code/service-image/Dockerfile
Due: none

changed host to docker internal in post intergration tests
  code/gateway/pom.xml
  code/gateway/src/main/java/nl/fhict/s6/gateway/WebSecurityConfig.java
  code/gateway/src/main/resources/application.properties
  code/service-authentication-jwt/pom.xml
  code/service-authentication-jwt/src/main/java/nl/fhict/s6/serviceauthentication/security/WebSecurityConfig.java
  code/service-authentication-jwt/src/main/resources/application.properties
  code/service-comment/pom.xml
  code/service-comment/src/main/resources/application.properties
  code/service-image/pom.xml
  code/service-image/src/main/java/nl/fhict/s6/serviceimage/ServiceImageApplication.java
  code/service-image/src/main/resources/application.properties
  code/service-likes/pom.xml
  code/service-likes/src/main/resources/application.properties
  code/service-likes/src/test/java/nl/fhict/s6/servicelikes/controller/LikeControllerComponentTest.java
  code/service-post/pom.xml
  code/service-post/src/main/resources/application.properties
  code/service-post/src/test/java/nl/fhict/s6/servicepost/context/CommentHttpContextTest.java
  code/service-user/pom.xml
  code/service-user/src/main/resources/application.properties
  deployment/docker-compose.yml
Due: authentication_service_build, user_service_build, user_service_test, comment_service_build, comment_service_test, image_service_build, image_service_test, like_service_build, like_service_test, post_service_build, post_service_test
